*{
    box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}


.logo{
    width: 162px;
    height: 50px;
    margin-left:150px;
    margin-top: 40px;
}


.wrapper{
    position: absolute;
    width: 1140px;
    height: 600.14px;
    left: 150px;
    top: 132px;
    bottom: 

    background: white;
    box-shadow: 0px 6px 30px 2px rgba(151, 151, 151, 0.2);
    border-radius: 8px;
    
}

.column-dti{
    margin-left: 137px;
}

.column-dti p{
  text-align: left;
  float: left;
  width: 33.33%;
  margin-top: 125px;
  padding-right: 140px;
}

.p{
    position: absolute;
    width: 200px;
    height: 21px;
    left: 287px;
    top: 125px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

/* Clear floats after the columns */
.row-dti:after {
  content: "";
  display: table;
  clear: both;
}

.tasks{
    width: 825.84px;
    height: 165.49px;
    margin-left: 160px;
    margin-top: 66.55px;
}

.btn{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 22px 125px;

    position: absolute;
    width: 411px;
    height: 68px;
    left: 365px;
    bottom: 40.26px;

    background: #3F7EDE;
    border: none;
    border-radius: 12px;
    
    text-align: justify-all;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.btn:hover{
    opacity: 75%;
}

.input-group{
    margin-left: 62px;
    margin-top: 114px;
}


.input-group > label:after {
  color: darkblue;
  content: "*";
  order: 1;
}

.label-url{
    width: 189.96px;
    height: 24px;
    left: 212px;
    top: 316px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}


.form-control[type=text]{
    font-family: Poppins;
    color: black;
    margin-top: 8px;
    width: 80%;
    padding: 7px 5px;
    border-color: clear;
    box-sizing: border-box;
    border-width: thin;
    border-radius: 8px;
}

.search-input-group{
    margin-left: 62px;
    margin-top: 100px;
}

.search-input-group > label:after {
  color: blue;
  content: "*";
  order: 1;
}

.history-url{
    width: 189.96px;
    height: 24px;
    left: 212px;
    top: 316px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

.search-control[type=text]{
    font-family: Poppins;
    color: black;
    margin-top: 8px;
    width: 40%;
    padding: 10px 5px;
    border-color: clear;
    box-sizing: border-box;
    border-width: thin;
    border-radius: 8px;
}

.or-label{
    position: absolute;
    top: 316px;
    left: 561.5px;
    width: 17px;
    height: 24px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #7B7B7B;
    
}

.create_btn{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 20px 130px;

    position: absolute;
    width: 35%;
    height: 60px;
    right: 62px;
    top: 305px;

    background: #3F7EDE;
    border: none;
    border-radius: 12px;
    
    text-align: justify-all;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.create_btn:hover{
    opacity: 75%;
}